@font-face {
    font-family: "Arimo (webfont)";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/Arimo-Regular.ttf");
}

@font-face {
    font-family: "Arimo (webfont)";
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url("/fonts/Arimo-Italic.ttf");
}

@font-face {
    font-family: "Arimo (webfont)";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/Arimo-Bold.ttf");
}

@font-face {
    font-family: "Arimo (webfont)";
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    src: url("/fonts/Arimo-BoldItalic.ttf");
}

@font-face {
    font-family: "Droid Sans Mono (webfont)";
    font-display: swap;
    src: url("/fonts/DroidSansMono.ttf");
}

:root {
    --vp-font-family-base: "Arimo (webfont)", sans-serif;
    --vp-font-family-mono: "Droid Sans Mono (webfont)", monospace;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
}